// .auth-template {
//   @apply flex justify-center items-center min-h-screen min-w-[475px] bg-[#f0f2f5];
// }
// .form-section-child {
//   @apply w-full max-w-md bg-white p-8 ;
// }
// .google-button {
//   @apply  flex w-full items-center justify-center p-6 mb-10
//         bg-white
//         text-black font-normal
//           border-solid border-2 border-black rounded-full hover:bg-[#f7f7f7]
//           ;
//   /* Định dạng SVG bên trong */
//   svg {
//     @apply w-6 h-6 fill-[#4285f4];
//   }

//   /* Khoảng cách bên trái cho chữ */
//   h2 {
//     margin-left: 0.5rem; /* Khoảng cách bên trái cho chữ */
//   }
// }
.footer-links {
  display: flex; /* Sử dụng Flexbox */
  justify-content: space-between; /* Căn giữa và chia khoảng cách đều */
  align-items: center; /* Căn giữa theo chiều dọc */
  margin-top: 1rem; /* Khoảng cách phía trên nếu cần */

  .account-info {
    display: flex; /* Sử dụng Flexbox cho các phần tử bên trong */
    align-items: center; /* Căn giữa theo chiều dọc */

    label {
      margin-right: 0.5rem; /* Khoảng cách bên phải cho label */
    }
  }
}
.custom-button {
  // background-color: red; /* Màu nền đỏ */
  color: white; /* Màu chữ trắng */
  // border: 1px solid transparent; /* Viền trong suốt */
  border-radius: 9999px; /* Đường viền tròn */
  height: 14.5%;
  width: 50%; /* Chiếm toàn bộ chiều rộng */
  padding: 12px 0; /* Điều chỉnh padding */
  margin-bottom: 20px; /* Khoảng cách phía dưới */
  margin-top: 10px;
  
}

.form-section-child h1 {
  margin-bottom: 50px;
}
