/* Chia đôi chiều rộng của trang */
.container-image {
  @apply flex min-h-full w-full
}

/* Phần chứa hình ảnh */
.image-section {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;

  @media (max-width: 640px) {
    display: none;
  }
}

.image-section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Overlay text trên hình ảnh */
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.overlay h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
  text-align: left;
}

.overlay p {
  font-size: 1.25rem;
  color: white;
  text-align: left;
  margin-bottom: 1rem;
  width: 85%;
}

/* Phần chứa form */
.form-section {
  width: 50%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}
