.card-item { 
    
     padding: 10px;
}

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

 }

body { 
    width: 100%;
}

.ant-card-cover > img { 
    
    width: 100px;
    height: 200px;
    object-fit: contain;
}

.koiList  {
    width: 100%;
    height: 70vh;
}

.swipe-slide {
    width: 37rem;
    height: 50rem;
}
 
/*  Card */
.card{
    background: #d9000000;
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 10;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card .imgBx   {
    position: relative;
    width: 100%;
    height: 240px;
    border-radius: 15px;
}
.card .imgBx .ant-image {
    width: 100%;
}
.card .imgBx .ant-image img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 15px;
    transition: transform 0.3s ease;

}


.card:hover .imgBx img {
  transform: scale(1.1);    
}

.card .imgBx::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #a3b18a;
}

.card .imgBx::after{
    content: '';
    position: absolute;
    bottom: 68px;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #a3b18a;
}

.card .content{
    position: relative;
    width: 100%;
    height: 160px;
    background: #344e41;
    border-radius: 15px;
    border-top-left-radius:0 ;
}

.card .content ul{
    padding: 15px 20px;
    color: #fff;
    font-size: 18px;
    padding-bottom: 5px;
    list-style: none;
}

/* .card .content p{
    font-size: 15px;
} */

.card .content .price{
    position: absolute;
    top: -52%;
    height: 52%;
    width: 50%;
    background: #344e41;
    border-top: 10px solid #a3b18a;
    border-right: 10px solid #a3b18a;
    border-top-right-radius: 25px;
}

.card .content .price a{
    position: relative;
    background: #fff;
    padding: 10px 20px;
    margin: 15px;
    display: block;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #344e41;
    transition: 0.5s;
    border: 2px solid #344e41;
}

.card .content .price a:hover{
    color: #fff;
    background: #344e41;
    border: 2px solid #fff;
}

.card .content .price::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px -10px 0#a3b18a ;
}

.card .content .price::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #344e41;
}
/* .slider-container { 
    border: 1px solid red;
}

.slider-card {
    border :12px solid blue
}

.slick-list { 
 height: 600px;
}
.slick-track {
    height: 100%;
} */

.slick-slide { 
    padding: 20px;
    height:500px ;
}


@media  (max-width :400px )   {
    
    .card .content p{ 
        font-size: 10px;
    }
    .card .content .price a{
    position: relative;
    background: #fff;
    padding: 10px 2px;
        margin:20px 5px;
    display: block;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #344e41;
    transition: 0.5s;
    border: 2px solid #344e41;
    }

 

}

@media  (max-width :800px )   {
    
 
    .card .content .price a{
    position: relative;
    background: #fff;
    padding: 5px 2px;
    margin:20px 5px;
    display: block;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #344e41;
    transition: 0.5s;
    border: 2px solid #344e41;
    }

    

 

}


/* @media  (min-width :750px )   {
    
    .card .content p{ 
        font-size: 10px;
    }
    .card .content .price a{
    position: relative;
    background: #fff;
    padding: 10px 2px;
        margin:20px 5px;
    display: block;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #344e41;
    transition: 0.5s;
    border: 2px solid #344e41;
    }

}
 */
